body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page1 {
  height: 100dvh;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page2 {
  height: 100dvh;
  background-color: darkgoldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page3 {
  height: 100dvh;
  background-color: slateblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1 {
  height: 12rem;
  width: 12rem;
  background-color: red;
}

.box2 {
  height: 12rem;
  width: 12rem;
  background-color: black;
}

.box3 {
  height: 12rem;
  width: 12rem;
  background-color: green;
}
