@import "tailwindcss";

body {
  background-color: #eff1f3;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
}
