@import "tailwindcss";

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
  background-color: #f5f5f7;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("./assets/fonts/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplayLight";
  src: url("./assets/fonts/fonts/SFPRODISPLAYLIGHTITALIC.OTF")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

#card1::-webkit-scrollbar {
  display: none;
}

#card1::-webkit-width {
  display: none;
}
